    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p>
                    The NYC AI Workshop is a two-day introductory workshop on artificial intelligence and machine learning, organized by the members of NYU's <a href="https://wp.nyu.edu/ml2/">Machine Learning for Lanugage Lab</a>.
                    The workshop is designed to provide an introduction to AI and ML to early undergraduate students in New York City area. In particular, we welcome students without a computer science background. Coding experience is not required.
                </p>

                <p> 
                    The workshop is free to participate. We will cover all costs and provide food.
                    The application will open soon! Sign up <a href="https://docs.google.com/forms/u/3/d/182PpuZ10_Un37eIB-y-18MWpuKXaCSxcBdIKV238xr8/edit">here</a> to get updates about when the application goes live.
                </p>

                <p>NYC AI Workshop is generously funded by <a href="http://msdse.org/">Moore-Sloan Data Science Environments</a>.</p>
            </div>
        </div>
    </section>
