    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About NYC AI Workshop</h2>
                <p>NYC AI Workshop is a 2-day introductory workshop on Artificial Intelligence, organized by the members of NYU's <a href="https://wp.nyu.edu/ml2/">Machine Learning for Lanugage Lab</a>.</p>
                <p>Our motivation is to introduce AI to the undergraduate students in New York City area. The participants do not need to have Computer Science background or coding experience.</p>
                <p>The workshop is free, and we will provide food and travel allowance to the participants. </p>
                <p>The application will be open soon!</p>
                <p>NYC AI Workshop is funded by <a href="http://msdse.org/">Moore-Sloan Data Science Environments</a>.</p>
            </div>
        </div>
    </section>