    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p align="justify">
                    The NYC AI Workshop is a two-day introductory workshop on artificial intelligence and machine learning designed for early undergraduate students in New York City area.
                </p>
                <p align="justify">
                    <b>DIVERSITY IN AI</b><br>
                    Our aim with this workshop is to introduce AI to students from underrepresented groups. Machine learning methods are a powerful set of tools that are applicable across many fields, and a diversity of thought and perspective is essential in every single one. We believe that using AI and ML methods are skills that everyone should have the opportunity to learn, and we hope our workshop will be a stepping stone in that direction. <br>
                </p>
                <p align="justify">
                    <b>BEGINNERS WELCOME</b><br>
                    Furthermore, we welcome students without a computer science background. Coding experience is not required. We encourage anyone who is interested to apply!
                </p>

                <p align="justify"> 
                    <b>LEARN THE BASICS</b><br>
                    Participants will learn the basics of machine learning from leading experts, and hear about cutting-edge research applying AI to a variety of problems.
                    They will also get first-hand experience in using machine learning algorithms, as well as learn about ways to pursue a career in AI.
                </p>

                <p align="justify"> 
                    <b>APPLY!</b><br>
                    The workshop is free to participate. We will cover all costs and provide food.
                    The application is now open! Apply <a href="https://docs.google.com/forms/d/1UKNzZglDmOFkXCTDA4jJBGzlsLSQ7rIcfboqHWzIP-4">here</a>. We'll get back to you in early October.<br>
                    For email updates about the confernece, sign up <a href="https://docs.google.com/forms/u/3/d/182PpuZ10_Un37eIB-y-18MWpuKXaCSxcBdIKV238xr8/edit">here</a>.
                </p>

                <p align="justify">
                The NYC AI Workshop is organized by the members of NYU's <a href="https://wp.nyu.edu/ml2/">Machine Learning for Lanugage Lab</a> and generously funded by <a href="http://msdse.org/">Moore-Sloan Data Science Environments</a>.
                </p>

            </div>
        </div>
    </section>
