    <!-- About Section -->
    <section id="schedule" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Schedule</h2>
                <p align="justify">
                    The workshop will be on October 26 and 27. There will be a tour of Facebook NYC office on the afternoon of October 28, which is optional to attend. The schedule is tentatively:
                </p>

                <div class="container">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
						<h3>Day One</h3>
	                	8:30 - 9:00: Light breakfast <br>
	                	9:00 - 9:10: Welcome and opening remarks <br>
	                	9:10 - 10:30: Machine learning basics <br>
                        10:30 - 10:45: Break <br>
	                	10:45 - 12:00: Guest lecture: speakers TBA <br>
	                	12:00 - 1:30: Lunch <br>
	                	1:30 - 3:30: Lab session <br>
	                	3:30 - 3:45: Break <br>
	                	3:45 - 4:30: Guest lecture: speaker TBA <br>
	                	4:30 - 5:15: Guest lecture: speaker TBA <br>
	                	5:15 - 6:00: Panel: Careers in AI <br>
					</div> 
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
				     	<h3>Day Two</h3>
	                	8:30 - 9:00: Light breakfast <br>
	                	9:00 - 10:30: Lecture: topic TBA <br>
                        10:30 - 10:45: Break <br>
	                	10:45 - 12:00: Guest lecture: speakers TBA <br>
	                	12:00 - 1:30: Lunch <br>
	                	1:30 - 3:30: Lab session <br>
	                	3:30 - 3:45: Break <br>
	                	3:45 - 4:30: Guest lecture: speaker TBA <br>
	                	4:30 - 5:50: Panel: Next Steps <br>
	                	5:50 – 6:00: Closing remarks <br>
	                	6:00 - 7:30: Dinner <br>
					</div>
				</div> 
		    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
						<h3>Day Three: Facebook NYC Tour</h3>
	                	12:00 - 1:00: Lunch <br>
	                	1:00 - 2:30: Panel with Facebook Scientists & Engineers <br>
	                	2:30 - 3:45: Facebook Tour <br>
				3:45 - 4:00: Closing remarks <br>		
					</div>
            </div>
	 
        </div>
    </section>
