    <!-- About Section -->
    <section id="schedule" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Schedule</h2>
                <p align="justify">
                    The workshop will be on October 26-27, from 9am to 5pm. The schedule is tentatively:
                </p>

                <div class="container">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
						<h3>Day One</h3>
	                	Light breakfast <br>
	                	Morning lecture: machine learning basics <br>
	                	Guest lecture: speakers TBA <br>
	                	Lunch <br>
	                	Lab session <br>
	                	Break <br>
	                	Guest lecture: speaker TBA <br>
	                	Panel discussion: careers in AI
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
				     	<h3>Day Two</h3>
	                	Light breakfast <br>
	                	Morning lecture: topic TBA <br>
	                	Guest lecture: speakers TBA <br>
	                	Lunch <br>
	                	Lab session <br>
	                	Break <br>
	                	Guest lecture: speaker TBA <br>
	                	Panel discussion: next steps <br>
	                	Dinner
					</div>
				</div>
            </div>
        </div>
    </section>
