    <!-- About Section -->
    <section id="speakers" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Speakers</h2>
                <p>
                    <a href="http://www.notebleue.org/">Y-Lan Boureau</a><br>
                	<a href="http://users.umiacs.umd.edu/~hal/">Hal Daum&eacute;  III</a><br>
                	<a href="http://www.cs.columbia.edu/~julia/">Julia Hirschberg</a><br>
                	<a href="https://ainowinstitute.org/people/varoon-mathur.html">Varoon Mathur</a><br>
                	<a href="https://bmcfee.github.io/">Brian McFee</a><br>
                	<a href="http://www.nyu.edu/projects/spirling/">Arthur Spirling</a><br>
                    <a href="https://www.cs.rochester.edu/~tetreaul/academic.html">Joel Tetreault</a><br>
                </p>

            </div>
        </div>
    </section>
